:root {
  --dark: #000;
  --course: #00B0FC;
  --light: #fff;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#places {
  display: flex;
}

main li:first-child{ font-weight: 600;}

body article {
  background-color:#fff;
  color: #000;
  padding: 1em 2em;
  border-radius: 10px;
  width: 33.333%;
  text-align: center;
  border: 2px solid #000;
  margin: 0 1em;
  box-sizing: border-box;
}

#places article{
  text-align: left;
  list-style: none;
}

.visable {
  display: block !important;
}
#mijdrecht, #amsterdam{ 
  display: none;
}

#details {
  opacity: 0;
}

body section {
  margin: 1em 0;
}

main {
  max-width: 900px;
  margin: 5vh auto;
  padding: 0 2rem;
}

header {
  color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2vw;
  font-family: 'Faster One', cursive;
}

h2 {
  font-size: 1em;
  margin-top: 1em;
  font-family: 'Faster One', cursive;
}

#article {
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 2em;
  width: 25%;
  text-align: center;
  border: 2px solid #000;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 -1rem;
}

ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

ul img {
  border: 2px solid var(--light);
  margin-top: 2em;
  margin-bottom: 2em;
}

img {
  max-width: 100%;
}

section#lecturers ul {
  flex-wrap: wrap;

}

section#lecturers li {
  width: 45%;
  text-align: center;
}

section#lecturers li:nth-child(3) {
  width: 100%
}

section#lecturers img {
  border-radius: 100%;
  margin-right: 1em;
  width: 20vw;
}

section#lecturers a {
  white-space: nowrap;
}

.button {
  background: var(--light);
  color: var(--dark);
  padding: 1em;
}

.examples img {
  max-width: 25vh;
}

a,
a:visited {
  color: var(--course);
}

footer {
  font-style: italic;
  position: fixed;
  bottom: 0;
}

title{ display: block;}