:root {
  --dark: #000;
  --course: #00B0FC;
  --light: #fff;
}

body {
  background-color: var(--dark);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.arrays {
  background-image: none;
  color: #fff;
  width: 80%;
  text-align: center;
  margin: auto;
}
main article {
  border-top: 2px solid #fff;
}
.arrays h1{
  font-family: unset;
  margin-bottom: 50px;
}
nav{
  width: 100%;
}

nav a{
  color: #000;
}

#menu {
  display: flex;
  background-color: #fff;
  padding: 0.5em;
}

#menu li {
  margin: 0 10px;
}

.active {
  opacity: 1;
  width: 50%;
  padding: 1em 2em;
  margin: 0 10px;
}

body section {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  width: 0;
  text-align: center;
  border: 2px solid #000;
  box-sizing: border-box;
  opacity: 0;
}

#places article{
  text-align: left;
  list-style: none;
}

.visable {
  display: block !important;
}

.details {
  opacity: 0;
  height: 0;
}
.checkDetails .details{
  opacity: 1;
  height: unset;
}
.checkDetails a{
  opacity: 0;
  height: 0;
}
main {
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 2vw;
  font-family: 'Faster One', cursive;
}

h2 {
  font-size: 1em;
  margin-top: 1em;
  font-family: 'Faster One', cursive;
}
#locations {
  display: flex;
  width: 100%;
  justify-content: center;
}



#locations ul {
  padding: 0;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

img {
  max-width: 100%;
}


.examples img {
  max-width: 25vh;
}
footer {
  font-style: italic;
  position: fixed;
  bottom: 0;
}

title{ display: block;}