:root {
  --dark: #000;
  --course: #00B0FC;
  --light: #fff;
}

body {
  background-color: var(--dark);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.active{
  opacity: 1;
  width: 100%;
}

body section {
  background-color:#fff;
  color: #000;
  padding: 1em 2em;
  border-radius: 10px;
  width: 33.333%;
  text-align: center;
  border: 2px solid #000;
  margin: 0 1em;
  box-sizing: border-box;
  opacity: 0;
}

#places article{
  text-align: left;
  list-style: none;
}

.visable {
  display: block !important;
}

#details {
  opacity: 0;
}

body section {
  margin: 1em 0;
}

main {
  width: 90%;
  margin: auto;
}

header {
  color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2vw;
  font-family: 'Faster One', cursive;
}

h2 {
  font-size: 1em;
  margin-top: 1em;
  font-family: 'Faster One', cursive;
}
#locations {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

body article {
  background-color: #fff;
  color: #000;
  padding: .5em;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #000;
  box-sizing: border-box;
}

#locations ul {
  padding: 0;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

img {
  max-width: 100%;
}


.examples img {
  max-width: 25vh;
}

a,
a:visited {
  color: var(--course);
}

footer {
  font-style: italic;
  position: fixed;
  bottom: 0;
}

title{ display: block;}